/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../assets/fonts/Poppins-Regular.ttf") format(truetype), url("../assets/fonts/Poppins-Italic.ttf") format(truetype), url("../assets/fonts/Poppins-Bold.ttf) format(truetype"), url("../assets/fonts/Poppins-ExtraBoldItalic.ttf") format(truetype);
  font-weight: 400 700 800;
  font-style: normal;
}
body {
  background-color: hsl(0, 0%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem 1rem 7rem 1rem;
}
.card .inputs {
  display: flex;
  padding: 2rem 1.5rem 0 1.5rem;
}
.card .inputs :nth-child(2) {
  padding: 0 1rem;
}
.card .inputs .input {
  display: flex;
  flex-direction: column;
}
.card .inputs .input label {
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  color: hsl(0, 1%, 44%);
}
.card .inputs .input .err-label {
  color: red;
}
.card .inputs .input .err-border {
  border: 1px solid red;
}
.card .inputs .input input {
  max-width: 6rem;
  min-height: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  outline: none;
  font-size: 1.5rem;
}
.card .inputs .input input:focus {
  border: 1px solid hsl(259, 100%, 65%);
  color: hsl(259, 100%, 65%);
}
.card .inputs .input input + p {
  color: red;
  font-size: 10px;
  font-style: italic;
  padding-top: 0.2rem;
}
.card .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
}
.card .submit .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.card .submit .circle:hover {
  background-color: hsl(0, 0%, 8%);
}
.card .submit .circle img {
  padding: 0.6rem;
}
.card .submit hr {
  height: 1px;
  width: 35%;
  background-color: hsla(0, 0%, 50%, 0.3);
  border: 0;
}
.card .result {
  padding: 0 1.5rem 2rem 1.5rem;
  line-height: 4rem;
}
.card .result > p {
  font-weight: 900;
  font-style: italic;
  font-size: 4rem;
}
.card .result > p > span {
  color: hsl(259, 100%, 65%);
  letter-spacing: 0.4rem;
}

@media screen and (min-width: 600px) {
  .card {
    width: 28rem;
  }
  .card .submit :nth-child(2) {
    order: 3;
  }
  .card .submit hr {
    width: 45%;
  }
}/*# sourceMappingURL=style.css.map */